/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
a.readmore {
	display: inline-block;
    padding: .75em 1.5em;
    @extend %gradient-bg;
    background-size: 200% 100%;
    background-position: 0% 50%;
    @include var(color, text-quaternary);
	line-height: 1;
	text-decoration: none;
	border: 0;
	border-radius: 0;
	
	&::after {
        display: none;
	}
	&:hover,
    &:active {
        background-position: 100% 50%;
    }
    &:focus {
        box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
    }
}
