/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
	font-size: $baseFontSize / 20 * 100%;
	
	@include bp-tablet {
		font-size: $baseFontSize / 18 * 100%;
	}
	@include bp-laptop {
		font-size: $baseFontSize / 16 * 100%;
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

:root {
	@each $term, $color in $vars {
		--#{$term}: #{$color};
	}
}
[data-theme="dark"] {
	@each $term, $color in $vars-dark {
		--#{$term}: #{$color};
	}
}

body {
	@include var(background-color, background);
	border-top: .5rem solid map-get($vars, text-primary);
	border-top: .5rem solid --text-primary;
	
	// Hide Scrollbar
	width: 100vw;
	overflow-x: hidden;
}

@include bp-laptop {
	.site {
		display: flex;
	
		&-header {
			width: 12vw;
			margin-left: 4vw;
		}
		&-content {
			width: 100%;
			margin-left: 16vw;
		}
	}
}

.container {
	width: calc(100% - 2 * #{$sidepadding});
	max-width: $maxContentWidth;
	margin: 0 auto;
}

::-webkit-scrollbar {
	background: transparent;
	width: 7px;
	height: 7px;

	&-thumb {
		background: $baseFontColor;

		&:hover {
			background: lighten($baseFontColor, 15%);
		}
		&:active {
			background: $baseFontColor;
		}
	}
}
