/*--------------------------------------------------------------
# Homepage
--------------------------------------------------------------*/
[data-current="home"] {

    .content-header {
        height: 90vh;

        @include bp-laptop {
            height: 80vh;
            max-height: none;
        }
    }
    h1 { font-size: 2.7em; }
    .meta {
        font-size: 1.1em;
        font-weight: 300;

        @include bp-tablet {
            font-size: 1.3em;
        }
    }

}

/*--------------------------------------------------------------
# Tweets
--------------------------------------------------------------*/
.tweet {
    position: relative;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    @include border(bottom, 1px, solid,lum-80);

    &:last-child {
        border: 0;
    }

    &-date {
        display: inline-block;
        margin-bottom: 1.5rem;
    }
    &-status {
        margin-bottom: .5rem;
    }
    &-src {
        padding: 1rem;
        @include border(top, 1px, solid, lum-80);
        @include border(bottom, 1px, solid, lum-80);
        @include border(left, 1px, solid, lum-80);
        @include border(right, 1px, solid, lum-80);
        border-radius: 5px;
    }
    &-src-name {
        font-weight: 700;
        font-size: .8em;
    }
    &-src-img {
        max-width: 60px;
        max-height: 60px;
        @include border(top, 2px, solid, lum-70);
        @include border(bottom, 2px, solid, lum-70);
        @include border(left, 2px, solid, lum-70);
        @include border(right, 2px, solid, lum-70);
        border-radius: 5px;
    }
}