/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.site-header {
    position: absolute;
    top: $sidepadding;
    left: $sidepadding;
    z-index: 1;

    a {
        display: inline-block;
		@include var(color, text-tertiary);
    }

    @include bp-laptop {
        position: fixed;
        a { @include var(color, text-primary); }
    }
}
.logo {
    @include var(fill, text-primary);
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
[data-current="archive"] article {
    margin-bottom: 2.5rem;
    padding-bottom: 3rem;
    @include border(bottom, 1px, solid, text-secondary);

    &:last-child {
        border: 0;
    }
}
a.readmore {
    display: inline-block;
    padding: .5em 2em;
    @extend %gradient-bg;
    background-size: 200% 100%;
    background-position: 0% 50%;
    @include var(color, text-quaternary);
    transition: background-position ease .3s;
    animation: button-animation ease 10s infinite;
    
    &::after {
        display: none;
    }

    &:hover,
    &:active {
        background-position: 100% 50%;
    }
    &:focus {
        box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
    }
}

@keyframes button-animation {
	0% {   clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%); }
	25% {  clip-path: polygon(5% 5%, 100% 10%, 95% 90%, 0% 95%); }
    50% {  clip-path: polygon(0% 10%, 100% 5%, 90% 95%, 5% 95%); }
    75% {  clip-path: polygon(5% 5%, 95% 0%, 95% 92%, 10% 90%); }
    100% {   clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%); }
}

.excerpt {
    font-size: 1.3em;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.content-header {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    height: 60vh;
    @include var(color, text-quaternary);
    margin-bottom: 1.5rem;
    padding-bottom: 15vh;
    @extend %gradient-bg;
    background-size: 200% 200%;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 30% 100%, 0 90%);
    
    @include bp-laptop {
        height: 90vh;
        max-height: 28rem;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 10% 100%);
        animation: header-animation-desktop alternate 10s infinite;
    }
    
    .meta {
        font-family: $headingFont;
        
        time,
        .categories {
            display: inline-block;
        }
    }
    a {
        @include var(color, text-quaternary);
    }
}

@keyframes header-animation-desktop {
	0% {   clip-path: polygon(0 0, 100% 0, 100% 85%, 10% 100%); background-position: 0% 50%; }
	25% {  clip-path: polygon(0 0, 100% 0, 100% 85%, 11% 98%); }
	50% {  clip-path: polygon(0 0, 100% 0, 100% 85%, 8% 100%); }
	75% {  clip-path: polygon(0 0, 100% 0, 100% 85%, 12% 96%); }
	100% { clip-path: polygon(0 0, 100% 0, 100% 85%, 10% 100%); background-position: 100% 50%; }
}

/*--------------------------------------------------------------
# Comments
--------------------------------------------------------------*/
.comments {
    position: relative;
    width: 120%;
    margin-left: -10%;
    padding: 1rem 10%;
    @include var(background-color, opacity-2);
    @include border(top, 2px, solid, opacity-10);
    @include border(left, 2px, solid, opacity-10);
    @include border(right, 2px, solid, opacity-10);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .twitter-icon svg {
        width: 4rem;
        height: 4rem;
        @include var(fill, text-primary);
    }

    h3 { padding: 0; }

    &::after {
        @extend %gradient-border-bottom;
    }
}

/*--------------------------------------------------------------
# Recommendations
--------------------------------------------------------------*/
.recommendations {
    position: relative;
    padding-top: 1rem;

	&-list {
        margin: 0;
		padding: 1rem 0;
		list-style: none;
	}
    &-item {
        margin: .5rem 0;
    }
    &-title {
        display: block;
        transition: transform ease-in-out .3s;

        &:hover {
            transform: translateX(.5rem);
        }
    }
    &-date {
        display: block;
        color: #aaa;
    }
}
