/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.site-header {
    position: absolute;
    top: $sidepadding;
    left: $sidepadding;
    z-index: 1;

    a {
        display: inline-block;
		color: #fff;
    }

    @include bp-laptop {
        position: fixed;
        a { color: $baseFontColor; }
    }
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.excerpt {
    font-size: 1.3em;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.content-header {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    height: 60vh;
    margin-bottom: 1.5rem;
    padding-bottom: 15vh;
    background: $primaryColor;
    background: linear-gradient(135deg, $secondaryColor 0%,$primaryColor 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 30% 100%, 0 90%);
    
    @include bp-laptop {
        height: 90vh;
        max-height: 28rem;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 10% 100%);
    }
    
    .meta {
        font-family: $headingFont;
        
        time,
        .categories {
            display: inline-block;
        }
    }
}

/*--------------------------------------------------------------
# Recommendations
--------------------------------------------------------------*/
.recommendations {
	&-list {
        margin: 0;
		padding: 1rem 0;
		list-style: none;
	}
    &-item {
        margin: .5rem 0;
    }
    &-title {
        display: block;
    }
    &-date {
        display: block;
        color: #aaa;
        font-size: .8em;
    }
}