/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a,
a:hover,
a:focus,
a:active {
	color: $linkColor;
	text-decoration: none;
}

.content {
	a {
        position: relative;
        color: $linkColor;
        
        &::after {
            @extend %gradient-border;
            z-index: -1;
            transform: translateY(-.15em) scaleY(2.5);
            opacity: .7;
            transition: transform .2s ease-in-out, opacity .2s ease-in-out;
        }
        &:hover::after,
        &:focus::after,
        &:active::after {
            transform: translateY(.25em) scaleY(1);
            opacity: 1;
        }
    }
}