/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a {
	@include var(color, lum-10);
    text-decoration: underline;

    &:focus {
        outline: 1px solid map-get($vars, yellow);
    }
}

.content,
.twitter,
.comments {
    a:hover,
    a:focus { 
        outline: 0;
        @include var(background-color, lum-90);
    }
    a:active {
        @include var(background-color, lum-70);
    }
}

h1, h2, h3, h4, h5, h6 { 
    .heading-anchor { text-decoration: none; }
}
a h2 {text-decoration: none;}

/*
.content,
.twitter,
.comments {
	a {
        position: relative;
        z-index: 0;
        @include var(color, lum-10);
        
        &::before {
            @extend %gradient-border-bottom;
            z-index: -1;
            transform: translateY(-.15em) scaleY(2.5);
            opacity: .7;
            transition: transform .2s ease-in-out, opacity .2s ease-in-out;
        }
        &:hover::before,
        &:focus::before,
        &:active::before {
            transform: translateY(.25em) scaleY(1);
            opacity: 1;
        }
    }
}
*/

.img-link {
    &::before,
    &::after { display: none; }
}