/*--------------------------------------------------------------
Breakpoints
--------------------------------------------------------------*/

@mixin bp-min($point) {
	@media only screen and (min-width: $point) { @content; }
}
@mixin bp-max($point) {
	@media only screen and (max-width: $point) { @content; }
}
@mixin bp-min-max($point1, $point2) {
	@media only screen and (min-width: $point1) and (max-width: $point2) { @content; }
}

/* Tablet: 640px */
/* Laptop: 1024px */
/* Desktop: 1440px */

@mixin bp-tablet {
	@media only screen and (min-width: 40em) { @content; }
}
@mixin bp-laptop {
	@media only screen and (min-width: 64em) { @content; }
}
@mixin max-bp-laptop {
	@media only screen and (max-width: 63.999em) { @content; }
}
@mixin bp-desktop {
	@media only screen and (min-width: 90em) { @content; }
}

/*--------------------------------------------------------------
Sizes
--------------------------------------------------------------*/

$maxContentWidth: 36rem;
$sidepadding: 2rem;

/*--------------------------------------------------------------
Fonts
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');

$mainFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$headingFont: 'Playfair Display', serif;

$baseFontWeight: 400;
$headingFontWeight: 700;

$baseFontSize: 18;
$baseLineHeight: 1.5;

/*--------------------------------------------------------------
Colors
--------------------------------------------------------------*/

$vars: (
	color-primary: #ffc400,
	color-secondary: #ff8010,
	text-primary: #111,
	text-secondary: #666,
	text-tertiary: #fff,
	text-quaternary: #111,
	opacity-2: darken(#fff, 2%),
	opacity-10: darken(#fff, 10%),
	background: #fff
);
$vars-dark: (
	color-primary: #ffc400,
	color-secondary: #ff8010,
	text-primary: #fff,
	text-secondary: #ddd,
	text-tertiary: #111,
	text-quaternary: #111,
	opacity-2: lighten(#111, 5%),
	opacity-10: lighten(#111, 15%),
	background: #111
);

@mixin var($property, $varName) {
	#{$property}: map-get($vars, $varName);
	#{$property}: var(--#{$varName});
}
@mixin border($direction, $width, $style, $varName ) {
	border-#{$direction}: $width $style map-get($vars, $varName);
	border-#{$direction}: $width $style var(--#{$varName});
}

// Usage: @include var(background-color, primary);

/*
Presets
*/
%gradient-bg {
	background-color: map-get($vars, color-primary);
	background-image: linear-gradient(135deg, map-get($vars, color-primary) 0%, map-get($vars, color-secondary) 100%);
	background-image: linear-gradient(135deg, var(--color-primary) 0%, var(--color-secondary) 100%);
}

%gradient-border-top {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 4px;
	@extend %gradient-bg;
}

%gradient-border-bottom {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4px;
	@extend %gradient-bg;
}
