/*--------------------------------------------------------------
Navigation
--------------------------------------------------------------*/
.navigation {
    &-input,
    &-btn {
        display: none;
    }
    &-wrapper {
        position: relative;
        top: 0;
        bottom: 0;
    }
    &-site {
        margin: 1.5rem 0;
        font-family: $headingFont;

        a {
            position: relative;
            margin: .25em 0;
            padding: .25em 0;

            &::after {
                @extend %gradient-border-bottom;
                transform: scaleX(0);
                transform-origin: left;
                transition: transform .2s ease-in-out;
            }
            &:hover::after,
            &:focus::after,
            &:active::after {
                transform: scaleX(1);
            }
        }
    }
    &-footer {
        position: fixed;
        bottom: 2rem;
        @include var(color, text-secondary);
        font-size: .85em;
    
        a { 
            @include var(color, text-primary);
            text-decoration: underline;

            &:hover,
            &:focus {
                @include var(color, text-secondary);
            }
            &:active {
                @include var(color, text-primary);
            }
        }
    }
}

@include max-bp-laptop {
    .navigation {
        &-wrapper {
            display: flex;
            position: fixed;
            left: 0;
            right: 0;
            z-index: 998;
            background: #111;
            transform: translateX(101vw);
            transition: transform cubic-bezier(0.500, 0.000, 0.500, 1.000) .3s;
        }
        &-site {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: stretch;
            padding: 0 3rem 0 2rem;
            color: #fff;

            a { 
                color: #fff;
                font-size: 1.3em;
            }
        }
        &-footer {
            position: absolute;
            color: #aaa;
    
            ul { padding: 0 3rem 1rem 2rem; }
            a { color: #fff; }
        }
        &-btn {
            position: fixed;
            display: block;
            top: 2rem;
            right: 2rem;
            z-index: 999;
            @include var(fill, text-primary);
            cursor: pointer;
        }
    }

    // Navigation open
    input#navigation-input[type=checkbox]:checked {
        & ~ .navigation-wrapper {
    		transform: translateX(0);
    	}
        & ~ .navigation-btn,
        & ~ .theme-switch-btn {
            fill: #fff;
            transition: fill ease .3s;
        }
        & ~ .language-switch,
        & ~ .language-switch a {
            color: #fff;
        }
    }
}

/*--------------------------------------------------------------
Theme Switch
--------------------------------------------------------------*/
.theme-switch {
    &-input { display: none; }
    &-btn {
        display: none;
        position: fixed;
        top: 2rem;
        right: 5rem;
        z-index: 999;
        @include var(fill, text-primary);
        cursor: pointer;

        &:hover,
        &:active {
            opacity: .7;
        }
    }
}

@supports(--css: variables) {
    .theme-switch-btn { display: block; }
}

/*--------------------------------------------------------------
Language Switch
--------------------------------------------------------------*/
.language-switch {
    position: fixed;
    z-index: 999;
    top: 2.5rem;
    right: 8rem;
    font-weight: 700;

    @include bp-tablet {
        top: 2.35rem;
    }
    @include bp-laptop {
        top: 2.2rem;
    }

    a {
        @include var(color, text-primary);

        &:hover,
        &:active {
            opacity: .7;
        }
    }
}
