/**
 * Prismtheme
 */
code,
pre {
	@include var(color, lum-10);
	@include var(background, lum-90);
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	tab-size: 4;
	hyphens: none;
	font-size: .9em;
}

pre {
	padding: 1em;
	margin: 0 0 1.5em 0;
	overflow: auto;
}

:not(pre) > code,
pre {
	@include var(color, lum-20);
}

:not(pre) > code {
	padding: .1em .25em;
	white-space: normal;
	word-break: break-all;
	@include var(background-color, lum-70);
	@include var(color, lum-10);
}

.token {
	&.comment,
	&.prolog,
	&.cdata {
		@include var(color, lum-20);
	}
	&.delimiter,
	&.boolean,
	&.keyword,
	&.selector,
	&.important,
	&.atrule {
		@include var(color, orange);
	}
	&.operator,
	&.punctuation,
	&.attr-name {
	    @include var(color, lum-20);
	}
	&.tag,
	&.tag .punctuation,
	&.doctype,
	&.builtin {
	    @include var(color, orange);
	}
	&.entity,
	&.number,
	&.symbol {
	    @include var(color, lightblue);
	}
	&.property,
	&.constant,
	&.variable {
	    @include var(color, darkgreen);
	}
	&.string,
	&.char {
		@include var(color, lightgreen);
	}
	&.attr-value,
	&.attr-value .punctuation {
	    @include var(color, lightblue);
	}
	&.attr-value .punctuation:first-child {
	    @include var(color, lum-80);
	}
	&.url {
		@include var(color, darkblue);
		text-decoration: underline;
	}
	&.function { @include var(color, yellow); }
	&.regex { @include var(background, lum-20); }
	&.bold {	font-weight: bold; }
	&.italic { font-style: italic; }
	&.inserted { @include var(color, lum-30); }
	&.deleted {@include var(color, lum-50); }
}

code.language-css {
	.token.property,
	.token.property + .token.punctuation {
		@include var(color, lum-80);
	}
	.token.id { 
		@include var(color, yellow);
	}
	.token.selector > .token.class,
	.token.selector > .token.attribute,
	.token.selector > .token.pseudo-class,
	.token.selector > .token.pseudo-element {
		@include var(color, yellow);
	}
}
