/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	@include var(color, text-primary);
	font-family: $mainFont;
	font-size: 1rem;
	font-weight: $baseFontWeight;
	line-height: $baseLineHeight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin: 0;
	padding: 0;
	font-weight: $headingFontWeight;
    font-family: $headingFont;
}

h1 { font-size: 2.0em; }
h2 { 
	padding-bottom: 1em;
	font-size: 1.7em;
}
h3 { 
	padding-bottom: 1em;
	font-size: 1.5em; 
}
h4 { 
	padding-bottom: 1em;
	font-size: 1.3em; 
}
h5 { font-size: 1em; }
h6 { font-size: 0.8em; }

summary h1,
summary h2,
summary h3,
summary h4,
summary h5,
summary h6 {
	display: inline-block;
	padding: 0;
}

p {
	margin: 0 0 1.5em 0;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	position: relative;
	margin: 0 0 1.5em 0;
	padding: .5em 0 .5em 1.5em;
	font-style: italic;

	&::after {
		@extend %gradient-border-left;
	}

	p:last-child {
		margin: 0;
	}
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

.content ol {
	margin: 0 0 1.5em 2.5em;
	padding: 0 0 0 .5em;
	list-style: none;
	counter-reset: counter;

	li {
		position: relative;
		counter-increment: counter;
		padding-bottom: .5em;

		&::before {
			position: absolute;
			content: counter(counter) ".";
			left: -2em;
		}
	}
}

.content ul {
	margin: 0 0 1.5em 2.5em;
	padding: 0 0 0 .5em;
	list-style: none;

	li {
		position: relative;
		padding-bottom: .5em;

		&::before {
			position: absolute;
    		content: '';
    		left: -2em;
    		top: .6em;
    		width: .4em;
    		height: .4em;
    		@extend %gradient-bg;
		}
	}
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

embed,
iframe,
object,
video {
	max-width: 100%;
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}