<div class="comments row">

    <div class="col-1-5 twitter-icon">
        {% icon "chat" %}
    </div>

    <div class="col-4-5">
        {% if language %}
	        {% if 'en' in language %}
                <h3>What's your opinion on the article?</h3>
                <div>Discuss with the community and me <a href="http://twitter.com/intent/tweet?text={{ title }}&url={{ metadata.url }}{{ permalink }}&via={{ metadata.social.twitter.name }}" target="_blank" rel="noreferrer noopener">via Twitter</a>!</div>
            {% endif %}
	        {% if 'de' in language %}
                <h3>Was ist deine Meinung zum Artikel?</h3>
                <div>Diskutiere mit der Community und mir <a href="http://twitter.com/intent/tweet?text={{ title }}&url={{ metadata.url }}{{ permalink }}&via={{ metadata.social.twitter.name }}" target="_blank" rel="noreferrer noopener">via Twitter</a>!</div>
            {% endif %}
        {% endif %}
    </div>
        
</div>