{% set fav_cache = "476vOYArjy" %}

<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png?v={{ fav_cache }}">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png?v={{ fav_cache }}">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png?v={{ fav_cache }}">
<link rel="manifest" href="/site.webmanifest?v={{ fav_cache }}">
<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg?v={{ fav_cache }}" color="#ffc400">
<link rel="shortcut icon" href="/assets/favicons/favicon.ico?v={{ fav_cache }}">
<meta name="msapplication-TileColor" content="#ffc400">
<meta name="msapplication-config" content="/assets/favicons/browserconfig.xml?v={{ fav_cache }}">
<meta name="theme-color" content="#111111">