<footer class="rights-navigation">
    <nav>
        <ul>
            <li><a href="">Imprint</a></li>
            <li><a href="">Data Policy</a></li>
        </ul>
    </nav>
</footer>

<footer class="site-footer">
	<p>This project is maintained by <a href="https://d-hagemeier.de">Dennis Hagemeier</a>. Check out the <a href="{{ pkg.repository.url }}">Github repo</a>.</p>
</footer>

</div> <!-- .site -->

</body>

</html>