</div> <!-- .site -->

<script>
if ("serviceWorker" in navigator) {
  if (navigator.serviceWorker.controller) {} else {
    navigator.serviceWorker
      .register("/sw.js", { scope: "./" });
  }
}
</script>

<script src="/assets/js/theme-switch.js" async defer></script>
<script src="/assets/js/instantclick-1.2.2.js" type="module" async defer></script>

</body>
</html>