<!doctype html>
<html
    {% if section %} data-current="{{ section }}"{% endif %}
    {% if language %}
        {% if 'en' in language %}lang="en"{% endif %}
        {% if 'de' in language %}lang="de"{% endif %}
    {% endif %}
>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    {% include "components/metatags.njk" %}

    <link rel="preload" href="/assets/css/main.css" as="style" />
    <link rel="preload" href="/assets/fonts/playfairdisplay-bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/playfairdisplay-regular.woff2" as="font" type="font/woff2" crossorigin>

    <link rel="stylesheet" href="/assets/css/main.css">

    {% include "components/favicons.njk" %}
</head>

<body>

<div class="site">

<header class="site-header">
    <a href="/" title="Home">
        <div class="logo">
            <svg xmlns="http://www.w3.org/2000/svg" width="441" height="500" viewBox="0 0 441 500"><path d="M386.9 311.7c7.7-44 27-82.8 54-113.8C425.2 66 337.2 0 177.2 0H0v500h177.2c80.7 0 145.3-23.2 193.7-69.7 6.9-6.7 13.4-13.7 19.3-21-7.6-30.8-9.2-64-3.3-97.6zm-103.5 53c-27.8 29.3-66.1 43.9-114.9 43.9h-55.8V91.7h55.1c49.7 0 88.4 13.7 116 41C311.3 160 325 197.5 325 245.1c0 50.5-13.9 90.3-41.6 119.6z" /></svg>
        </div>
    </a>
    
    {% include "components/navigation.njk" %}
</header>
