{%- set absolutePageUrl -%}{{ page.url | url | absoluteUrl(metadata.url) }}{%- endset -%}

<!-- General Meta Tags-->
<title>{{ seotitle }}</title>
<meta name="description" content="{{ seodescription }}"/>

{% if seoindex %}<meta name="robots" content="index, follow" />{% else %}<meta name="robots" content="noindex" />{% endif %}
{% if translation_en %}<link rel="alternate" hreflang="en" href="{{ metadata.url }}{{ translation_de }}" />{% endif %}
{% if translation_de %}<link rel="alternate" hreflang="de" href="{{ metadata.url }}{{ translation_en }}" />{% endif %}

<link rel="canonical" href="{{ absolutePageUrl }}" />
<link rel="author" href="humans.txt" />

<!-- Open Graph & Twitter Tags -->
{% if excerpt %}<meta property="og:type" content="article" />{% else %}<meta property="og:type" content="website" />{% endif %}
<meta property="og:title" content="{{ seotitle }}" />
<meta property="og:description" content="{{ seodescription }}" />
<meta property="og:url" content="{{ absolutePageUrl }}" />
<meta property="og:site_name" content="{{ metadata.name }}" />
{% if date %}<meta property="article:published_time" content="{{ date | date("YYYY-MM-DDTHH:mm:ssZZ", "YYYY-MM-DDTHH:mm:ssZZ", "en") }}" />{% endif %}
<meta property="article:author" content="{{ metadata.name }}" />
{% if 'en' in language %}<meta property="og:locale" content="en_US">{% endif %}
{% if 'de' in language %}<meta property="og:locale" content="de_DE">{% endif %}

<meta property="og:image" content="{{ metadata.url }}/preview/{{ title | pslug }}-{{ language | url }}-preview.png" />
{% if 'en' in language %}<meta property="og:image:alt" content="Preview image for article {{ seotitle }}">{% endif %}
{% if 'de' in language %}<meta property="og:image:alt" content="Vorschaubild zum Artikel {{ seotitle }}">{% endif %}

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ seotitle }}" />
<meta name="twitter:description" content="{{ seodescription }}" />
<meta name="twitter:site" content="@{{ metadata.social.twitter.name }}" />
<meta name="twitter:url" content="{{ absolutePageUrl }}}" />
<meta name="twitter:creator" content="@{{ metadata.social.twitter.name }}" />
<meta name="twitter:image" content="{{ metadata.url }}/preview/{{ title | pslug }}-{{ language | url }}-preview.png" />
{% if 'en' in language %}<meta property="twitter:image:alt" content="Preview image for article {{ seotitle }}">{% endif %}
{% if 'de' in language %}<meta property="twitter:image:alt" content="Vorschaubild zum Artikel {{ seotitle }}">{% endif %}

<!-- Social Media Connections -->
<link href="{{ metadata.social.twitter.url }}" rel="me" />
<link href="{{ metadata.social.instagram.url }}" rel="me" />
<link href="{{ metadata.social.github.url }}" rel="me" />
<link href="{{ metadata.social.linkedin.url }}" rel="me" />
<link href="{{ metadata.social.xing.url }}" rel="me" />

<!-- Webmention Support -->
<link rel="webmention" href="https://webmention.io/www.d-hagemeier.com/webmention" />
<link rel="pingback" href="https://webmention.io/www.d-hagemeier.com/xmlrpc" />

<!-- Feed -->
<link type="application/atom+xml" rel="alternate" href="{{ metadata.url }}/{{ language }}/feed.xml" title="{{ metadata.title }}" />

{% if 'article' in section %}
<!-- Structured Data -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ absolutePageUrl }}"
  },
  "headline": "{{ seotitle }}",
  "description": "{{ seodescription }}",
  "image": {
    "@type": "ImageObject",
    "url": "{{ metadata.url }}/preview/{{ title | pslug }}-{{ language | url }}-preview.png",
    "width": 1200,
    "height": 628
  },
  "author": {
    "@type": "Person",
    "name": "{{ metadata.name }}"
  },  
  "publisher": {
    "@type": "Organization",
    "name": "{{ metadata.name }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ metadata.url }}/assets/favicons/apple-touch-icon.png",
      "width": 180,
      "height": 180
    }
  },
  "datePublished": "{{ date | date("YYYY-MM-DDTHH:mm:ssZZ", "YYYY-MM-DDTHH:mm:ssZZ", "en") }}",
  "dateModified": "{% if dateModified %}{{ dateModified | date("YYYY-MM-DDTHH:mm:ssZZ", "YYYY-MM-DDTHH:mm:ssZZ", "en") }}{% endif %}"
}
</script>
{% endif %}