<!-- General Meta Tags-->
<title>{{ seotitle }}</title>
<meta name="description" content="{{ seodescription }}"/>

<!-- Open Graph & Twitter Tags -->
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="{{ website }}" />
<meta property="og:title" content="{{ seotitle }}" />
<meta property="og:description" content="{{ seodescription }}" />
<meta property="og:url" content="{{ metadata.url }}" />
<meta property="og:site_name" content="{{ metadata.name }}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ seotitle }}" />
<meta name="twitter:description" content="{{ seodescription }}" />