<input type="checkbox" id="navigation-input" class="navigation-input">
<label for="navigation-input" class="navigation-btn" aria-label="{% if 'de' in language %}Navigation öffnen{% else %}Open navigation{% endif %}">
    {% icon "menu-open" %}
    {% icon "menu-close" %}
</label>

<input type="checkbox" id="theme-switch-input" class="theme-switch-input">
<label for="theme-switch-input" class="theme-switch-btn" aria-label="{% if 'de' in language %}Zwischen hellem und dunklem Design wechseln{% else %}Switch between light and dark design{% endif %}">
    {% icon "sun" %}
    {% icon "moon" %}
</label>

<div class="language-switch">

    {% if translation_en %}
        <a href="{{ metadata.url }}{{ translation_en }}">EN</a>
    {% else %}
        <a href="{{ metadata.url }}{{ metadata.url }}/en">EN</a>
    {% endif %}
    
    <span> / </span>
    
    {% if translation_de %}
        <a href="{{ metadata.url }}{{ translation_de }}">DE</a>
    {% else %}
        <a href="{{ metadata.url }}{{ metadata.url }}/de">DE</a>
    {% endif %}

</div>

<div class="navigation-wrapper">
    <nav class="navigation-site" aria-label="{% if 'de' in language %}Hauptnavigation{% else %}Main navigation{% endif %}">
    	<ul>
            {% if 'de' in language %}
                <li><a href="{{ metadata.url }}/de/">01 Home</a></li>
    		    <li><a href="{{ metadata.url }}/de/articles/">02 Articles</a></li>
    		    <li><a href="{{ metadata.url }}/de/about/">03 About</a></li>
            {% else %}
                <li><a href="{{ metadata.url }}/en/">01 Home</a></li>
    		    <li><a href="{{ metadata.url }}/en/articles/">02 Articles</a></li>
    		    <li><a href="{{ metadata.url }}/en/about/">03 About</a></li>
            {% endif %}
     		<li><a href="{{ metadata.social.twitter.url }}" target="_blank" rel="noopener">04 Twitter</a></li>
    		<li><a href="{{ metadata.social.instagram.url }}" target="_blank" rel="noopener">05 Instagram</a></li>
    	</ul>
    </nav>
    <nav class="navigation-footer" aria-label="{% if 'de' in language %}Navigation Fußzeile{% else %}Footer navigation{% endif %}">
        <ul>
            {% if 'de' in language %}
                <li><a href="{{ metadata.url }}/de/impressum/">Impressum</a> | <a href="{{ metadata.url }}/de/datenschutz/">Datenschutz</a></li>
                <li>Abonniere den <a href="{{ metadata.url }}/de/feed.xml">Feed</a></li>
                <li>Erstellt mit <a href="https://www.11ty.io/" target="_blank" rel="noopener">Eleventy</a></li>
                <li>Gehostet bei <a href="https://www.netlify.com/" target="_blank" rel="noopener">Netlify</a></li>
                <li>Quellcode auf <a href="{{ metadata.social.github.source }}" target="_blank" rel="noopener">Github</a></li>
            {% else %}
                <li><a href="{{ metadata.url }}/de/impressum/">Imprint</a> | <a href="{{ metadata.url }}/de/datenschutz/">Data Policy</a></li>
                <li>Subscribe to the <a href="{{ metadata.url }}/en/feed.xml">feed</a></li>
                <li>Built with <a href="https://www.11ty.io/" target="_blank" rel="noopener">Eleventy</a></li>
                <li>Hosted on <a href="https://www.netlify.com/" target="_blank" rel="noopener">Netlify</a></li>
                <li>View source at <a href="{{ metadata.social.github.source }}" target="_blank" rel="noopener">Github</a></li>
            {% endif %}
        </ul>
    </nav>
</div>