{% if language %}
	{% if 'en' in language %}<h2>Latest Articles</h2>{% endif %}
	{% if 'de' in language %}<h2>Letzte Artikel</h2>{% endif %}
{% endif %}

{% if 'en' in language %}
        {% set recommendations = collections.articles_en %}
{% endif %}
{% if 'de' in language %}
        {% set recommendations = collections.articles_de %}
{% endif %}

<ol class="recommendations-list">

    {% for article in recommendations | reverse %}
        {% if loop.index < 6 %}

        <li class="recommendations-item">
            <a href="{{ metadata.url }}{{ article.data.permalink | url }}" class="row">
                <time class="recommendations-date col-1-3" datetime="{{ article.data.date | date("YYYY-MM-DDTHH:mm:ssZZ", "YYYY-MM-DDTHH:mm:ssZZ") }}">
                    {{ article.data.date | date("YYYY-MM-DDTHH:mm:ssZZ", "Do MMMM YYYY", language) }}
                </time>
                <div class="recommendations-title col-2-3">{{ article.data.title }}</div>
            </a>
        </li>

        {% endif %}
    {%- endfor -%}

</ol>

