{% set recommendations = collections.articles %}

<ol class="recommendations-list">

    {% for article in recommendations | reverse %}
        {% if loop.index < 6 %}

        <li class="recommendations-item">
            <a href="/{{ article.data.permalink | url }}">
                <span class="recommendations-title">{{ article.data.title }}</span>
                <time class="recommendations-date" datetime="{{ article.data.date | machineDate }}">{{ article.data.date | readableDate }}</time>
            </a>
        </li>

        {% endif %}
    {%- endfor -%}

</ol>