<div class="webmentions" id="webmentions">

  {% set mentions = webmentions | getWebmentionsForUrl(metadata.url + webmentionUrl) %}
  {% set reposts = mentions | webmentionsByType('repost-of') %}
  {% set repostsSize = reposts | size %}
  {% set likes = mentions | webmentionsByType('like-of') %}
  {% set likesSize = likes | size %}
  {% set replies = mentions | webmentionsByType('in-reply-to')  %}
  {% set repliesSize = replies | size  %}

<!--
  Likes
 -->
{% if likesSize > 0 %}
<div class="webmentions__facepile likes row">
  <h3 class="col-1-3">{{ likesSize }} Like{% if likesSize != 1 %}s{% endif %}</h3>

  <div class="col-2-3">

    {% for webmention in likes %}

      {% if webmention.url != "" %}
        <a class="h-card u-url link-u-exempt" href="{{ webmention.url }}" target="_blank" rel="noopener noreferrer">
      {% endif %}

      {% if webmention.author.photo %}
      <img src="{{ webmention.author.photo }}" alt="{{ webmention.author.name }}" width="48" height="48" loading="lazy">
      {% else %}
      <img src="{{ '/img/avatar.svg' | url }}" alt="" width="48" height="48">
      {% endif %}

      {% if webmention.url != "" %}
        </a>
      {% endif %}
    {% endfor %}
  
  </div>

</div>
{% else %}
  {% if 'en' in language %}<p>No likes yet.</p>{% endif %}
	{% if 'de' in language %}<p>Keine Likes bisher.</p>{% endif %}
{% endif %}

<!--
  Reposts
 -->
{% if repostsSize > 0 %}
<div class="webmentions__facepile reposts row">
  <h3 class="col-1-3">{{ repostsSize }} Retweet{% if repostsSize != 1 %}s{% endif %}</h3>

  <div class="col-2-3">

    {% for webmention in reposts %}
      {% if webmention.url != "" %}
      <a class="h-card u-url link-u-exempt" href="{{ webmention.url }}" target="_blank" rel="noopener noreferrer">
      {% endif %}

      {% if webmention.author.photo %}
      <img src="{{ webmention.author.photo }}" alt="{{ webmention.author.name }}" width="48" height="48" loading="lazy">
      {% else %}
      <img src="{{ '/img/avatar.svg' | url }}" alt="" width="48" height="48">
      {% endif %}
      {% if webmention.url != "" %}
      </a>
      {% endif %}
    {% endfor %}

  </div>

</div>
{% else %}
  {% if 'en' in language %}<p>No reposts yet.</p>{% endif %}
	{% if 'de' in language %}<p>Keine Reposts bisher.</p>{% endif %}
{% endif %}

<!--
  Replies
 -->
{% if repliesSize > 0 %}
<div class="webmention-replies">
  <h3>{{ repliesSize }} {% if repliesSize == "1" %}Reply{% else %}Replies{% endif %}</h3>

  {% for webmention in replies %}
    {% include 'components/webmention.njk' %}
  {% endfor %}
</div>
{% else %}
  {% if 'en' in language %}<p>No replies yet.</p>{% endif %}
	{% if 'de' in language %}<p>Keine Antworten bisher.</p>{% endif %}
{% endif %}
