---
layout: layouts/base.njk
section: article
---

<header class="content-header">
    
    <div class="container">

    <h1>{{ title }}</h1>
        
    <div class="meta">
        <time datetime="{{ date | date("YYYY-MM-DDTHH:mm:ssZZ", "YYYY-MM-DDTHH:mm:ssZZ", language) }}">{{ date | date("YYYY-MM-DDTHH:mm:ssZZ", "Do MMMM YYYY", language) }}</time>
        <span>|</span>
        <div class="categories">
            {% for tag in tags %}
                <a href="{{ metadata.url }}/{{ language }}/articles/{{ tag | slug }}">#{{ tag }}</a>
            {% endfor %}
        </div>
    
    </div>

    </div>
    
</header>

<article class="content container">

    <div class="excerpt">
        {{ excerpt | safe }}
    </div>

    <aside class="toc">
        {{ content | toc | removeHash | safe }}
    </aside>

    {{ layoutContent | safe }}

    {% include "components/comments.njk" %}

</article>

<div class="recommendations container">

    {% if language %}
	    {% if 'en' in language %}<h2>Latest Articles</h2>{% endif %}
	    {% if 'de' in language %}<h2>Letzte Artikel</h2>{% endif %}
    {% endif %}
    

    {% include "components/recommendations.njk" %}

</div>