---
layout: layouts/base.njk
section: article
---

<header class="content-header">
    
    <div class="container">

    <h1>{{ title }}</h1>
        
    <div class="meta">
        <time datetime="{{ date | date("YYYY-MM-DDTHH:mm:ssZZ", "YYYY-MM-DDTHH:mm:ssZZ", language) }}">{{ date | date("YYYY-MM-DDTHH:mm:ssZZ", "Do MMMM YYYY", language) }}</time>
        <span>|</span>
        <div class="categories">
            {% for tag in tags %}
                <a href="{{ metadata.url }}/{{ language }}/articles/{{ tag | slug }}">#{{ tag }}</a>
            {% endfor %}
        </div>
    
    </div>

    </div>
    
</header>

<article class="content container">

    <div class="excerpt">
        {{ excerpt | safe }}
    </div>

    <aside class="toc">
        {{ content | toc | removeHash | safe }}
    </aside>

    {{ layoutContent | safe }}

</article>

<section class="container">
    <div class="recommendations">
        {% include "components/recommendations.njk" %}
    </div>
</section>

<section class="container">
    {% if language %}
	    {% if 'en' in language %}<h2>Discussion</h2>{% endif %}
	    {% if 'de' in language %}<h2>Diskussion</h2>{% endif %}
    {% endif %}
    
    {% set webmentionUrl %}{{ page.url | url | absoluteUrl(site.url) }}{% endset %}
    {% include 'components/webmentions.njk' %}

</section>
