---
layout: layouts/base.njk
section: archive
---

<header class="content-header">
    
    <div class="container">

	<h1>{{ title }}</h1>
    {{ layoutContent | safe }}

    </div>
    
</header>

<div class="content container">

    {%- for article in collections.articles | reverse -%}
    
        <article>
            
            <h2>{{ article.data.title }}</h2>
            
            <div class="excerpt">
                {{ article.data.excerpt }}
            </div>
            
            <a href="/{{ article.data.permalink | url }}" class="readmore">Artikel lesen</a>
        
        </article>
    
    {%- endfor -%}

</div>