---
layout: layouts/base.njk
section: homepage
---

<article>
	<h1>{{ title }}</h1>
	
	<p>{{ layoutContent | safe }}</p>
</article>

<div class="twitter">

{%- for item in tweets -%}

    <div class="tweet">
		<span class="tweet-text">{{ item.text }}</span>
		<a href="{{ item.url }}">{{ item.date }}</a>
	</div>
    
{%- endfor -%}
</div>