---
layout: layouts/base.njk
section: home
---

<div class="container">

	<h1>{{ title }}</h1>
	<div class="description">{{ layoutContent | safe }}</div>

	{% include "components/tweets.njk" %}
</div>

