---
layout: layouts/base.njk
section: page
---

<header class="content-header">
    
    <div class="container">

    <h1>{{ title }}</h1>

    </div>
    
</header>

<div class="content container">

    {{ layoutContent | safe }}

</div>