---
permalink: /de/feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ metadata.title }}</title>
    <link href="{{ metadata.url }}/de/feed.xml" rel="self" type="application/atom+xml" />
    <link rel="alternative" hreflang="de" href="{{ metadata.url }}/de/feed.xml" />
    {% if collections.articles_de %}<updated>{{ collections.articles_de | rssLastUpdatedDate }}</updated>{% endif %}
    <id>{{ metadata.url }}/</id>
    <icon>{{ metadata.url }}/assets/dh-logo-color-padding.png</icon>
    <logo>{{ metadata.url }}/assets/dh-logo-color-padding.png</logo>
    <author>
        <name>{{ metadata.name }}</name>
        <email>{{ metadata.email }}</email>
    </author>

    {%- for post in collections.articles_de.slice(0, 10) | reverse -%}
    {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
        <entry>
            <title>{{ post.data.title }}</title>
            <link href="{{ absolutePostUrl }}"/>
            <updated>{{ post.date | rssDate }}</updated>
            <id>{{ absolutePostUrl }}</id>
            {% for tag in post.data.tags %}<category term="{{ tag }}" />{% endfor %}

            <summary type="html"><![CDATA[
                {{ post.data.excerpt | htmlToAbsoluteUrls(absolutePostUrl) }}
                &lt;p&gt;Weiterlesen: &lt;a href=&quot;{{ absolutePostUrl }}&quot; target=&quot;_blank&quot; rel=&quot;noopener&quot;&gt;{{ absolutePostUrl }}&lt;/a&gt;.&lt;/p&gt;
            ]]></summary>
            <content type="html"><![CDATA[
                {{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}
                &lt;p&gt;Zuerst veröffentlicht auf: &lt;a href=&quot;{{ absolutePostUrl }}&quot; target=&quot;_blank&quot; rel=&quot;noopener&quot;&gt;{{ absolutePostUrl }}&lt;/a&gt;.&lt;/p&gt;
            ]]></content>
        </entry>
    {%- endfor -%}
</feed>