---
permalink: "/preview-images.json"
eleventyExcludeFromCollections: true
---
[
{%- for item in collections.all | reverse -%}
  {
    "date" : "{{ item.date | date("ddd MMM D HH:mm:ss ZZ YYYY", "YYYY-MM-DDTHH:mm:ssZ") }}",
    "title" : "{{ item.data.title }}",
    "path" : "/_site{% if 'en' in item.data.language %}{{ item.data.translation_en | url }}{% endif %}{% if 'de' in item.data.language %}{{ item.data.translation_de | url }}{% endif %}",
    "url" : "{{metadata.url}}/assets/preview-images/{{ item.data.language | url }}/{{ item.data.title | slug }}-preview.html"
  }{% if not loop.last %},{%- endif -%}
{%- endfor -%}
]