---
permalink: "/preview-images.json"
eleventyExcludeFromCollections: true
---
[
{%- for item in collections.all | reverse -%}
  {
    "filename" : "{{ item.data.title | pslug }}-{{ item.data.language | url }}-preview",
    "path" : "{{ metadata.url }}/assets/preview-images/{{ item.data.title | pslug }}-{{ item.data.language | url }}-preview.html"
  }{% if not loop.last %},{%- endif -%}
{%- endfor -%}
]