---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">

{%- for item in collections.all -%}

  <url>
    <loc>{{ item.url | url | absoluteUrl(metadata.url) }}</loc>
    <lastmod>{{ item.date | tweetMachineDate }}</lastmod>
    {% if item.data.translation_en %}<xhtml:link rel="alternate" hreflang="en" href="{{ item.data.translation_en | url | absoluteUrl(metadata.url) }}" />{% endif %}
    {% if item.data.translation_de %}<xhtml:link rel="alternate" hreflang="de" href="{{ item.data.translation_de | url | absoluteUrl(metadata.url) }}" />{% endif %}
  </url>

{%- endfor -%}

</urlset>